@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Preliminary styles and variables */

:root {
    --clr-grayish-blue-dark: hsl(217, 19%, 35%);
    --clr-blue-light: hsl(214, 17%, 51%);
    --clr-grayish-blue: hsl(212, 23%, 69%);
    --clr-grayish-blue-light: hsl(210, 46%, 95%);
    --ff: 'Manrope';
    --fw-primary: 500;
    --fw-header: 700;
    --font-size-paragraph: 0.8125rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

/* Main structural styles */

body {
    font-family: var(--ff);
    font-weight: var(--fw-primary);
    font-size: var(--font-size-paragraph);
    color: var(--clr-blue-light);
    min-height: 100vh;
    background-color: var(--clr-grayish-blue-light);
    line-height: 1.5;
}

body, main {
    display: grid;
    place-content: center;
}

/* Card styles */

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: var(--font-size-paragraph);
    max-width: 22rem;
}

.card__furniture-image {
    border-radius: var(--font-size-paragraph) var(--font-size-paragraph) 0 0;
    object-fit: cover;
    max-height: 14rem;
}

.card__text-container {
    padding: 3em 2.5em 1.5em 2.5em;
    position: relative;
}

h1 {
    font-size: 1.1rem;
    color: var(--clr-grayish-blue-dark);
    margin-block-end: var(--font-size-paragraph);
    font-weight: var(--fw-header);
}

p {
    font-size: var(--font-size-paragraph);
    line-height: 1.7;
}

/* "About" section styles */

.card__about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 2rem;
}

.about-section__profile {
    display: flex;
    gap: 1rem;
}

.profile__image {
    width: 2.5rem;
    border-radius: 50%;
}

.name {
    color: var(--clr-grayish-blue-dark);
    font-weight: var(--fw-header);
}

.date {
    color: var(--clr-grayish-blue);
}

.about-section__swap-button {
    display: block;
    background-color: var(--clr-grayish-blue-light);
    border: none;
    border-radius: 50%;
    width: 2rem;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    transition: 200ms background-color ease-out;
}

.about-section__swap-button:hover {
    background-color: var(--clr-blue-light);
    transition: 200ms background-color ease-in;
}

.about-section__swap-image--secondary {
    fill: #FFFFFF;
    transition: 200ms fill ease-out;
}

/* Secondary 'about' section styles */

.about-section__swap-button--secondary {
    background-color: var(--clr-blue-light);
    transition: 200ms background-color ease-in;
}

.about-section__swap-button--secondary:hover {
    background-color: var(--clr-grayish-blue);
}

.image--secondary {
    fill: #FFFFFF;
    transition: 200ms fill ease-in;
}

.card__about-section--secondary {
    background-color: var(--clr-grayish-blue-dark);
    transition: 300ms background-color ease-in-out;
    margin: -3em -2.5em -1.5em -2.5em;
    padding: 1.5em 2.5em 1.4em 2.5em;
    border-radius: 0 0 var(--font-size-paragraph) var(--font-size-paragraph);
}

.about-section__profile--secondary, .about-section__profile--secondary-desktop {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.about-section__profile--secondary > p, .about-section__profile--secondary-desktop > p {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: var(--clr-grayish-blue)
}

.about-section__profile--secondary {
    position: relative;
}

.text__margin--extra {
    margin-block-end: 5em;
}

.profile__element--hidden {
    display: none;
}

/* Desktop styling */

.about-section__profile--secondary-desktop {
    background-color: var(--clr-grayish-blue-dark);
    padding: 1.5em 3.5em;
    border-radius: var(--font-size-paragraph);
    position: absolute;
    right: -6.5em;
    bottom: 8em;
    transition: 200ms ease-in-out;
}

.about-section__profile--secondary-desktop:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: var(--font-size-paragraph) solid transparent;
    border-right: var(--font-size-paragraph) solid transparent;
    border-top: var(--font-size-paragraph) solid var(--clr-grayish-blue-dark);
    border-bottom: var(--font-size-paragraph) solid transparent;
    right: 45%;
    top: 100%;
   }

.about-section__swap-button--secondary-margin {
    position: absolute;
    right: 3.5em;
}

@media (min-width: 50em) {
    .card {
        flex-direction: row;
        max-width: 44rem;
    }
    .card__furniture-image {
        border-radius: var(--font-size-paragraph) 0 0 var(--font-size-paragraph);
        max-width: 17.5rem;
        max-height: 20rem;
    }
    .card__text-container {
        padding: 3em 3em 2.5em 3em;
    }
    .card__about-section {
        margin-block-start: 1.5rem;
    }
    h1 {
        font-size: 1.25rem;
    }
}